#logout
{
    margin-left:590px;
	font-family:Arial;
}


#rehab_title
{
	height:100px;
	width:700px;
	margin-top:40px;
	margin-left:10px;
	font-size:40px;
	color:#29527A;
	font-family:"Times New Roman";
	font:center;
}

#title
{
	color: #29527A; 
	font-size:30px;
}

#start_button
{
	margin-left:20px;
}

#stop_button
{
	margin-left:10px;
}

#article_title_text_before_options
{
/*	margin-right:30px;*/
	font-size:18px;
}

#article_author
{
	margin-left:50px;
}

#article_author_detail
{
	color:blue;
	font-size:18px;
	margin-left:15px;
}

.span12_box
{
	margin-right:25px;
	margin-top:10px;
	margin-bottom:10px;
	border: 3px #666699;
	background-color:#F0F0F5;
	border-radius: 15px;
}

.justify_text
{
	text-align: justify;
}
















